@mixin _asraMenu_pc {
    .asraMenu{
        display: none ;
        width :100% ;
        height: 100%;
        flex-wrap: wrap ;
        .menuPhoto{
            display: block ;
            position: relative;
            background: url(../img/index/kitchen.jpg) no-repeat;
            background-size : cover ;
            background-position: center center ;
            width : 50% ;
            .logo{
                text-align: center ;
                position: absolute;
                padding-top : 45% ;
                top : 0;
                left :0 ;
                width : 100% ;
                height: 100%;
                background: rgba(0,0,0,0.5);
                color : #fff ;
                font-weight: bold ;
                font-size: 6rem;
                img{
                    width : 12rem ;
                }
                p{
                    margin-top: 2rem ;
                }
                .catch{
                    font-size: 3rem;
                    line-height: 4rem ;
                }
            }
        }
        .menuArea{
            background: $subColor ;
            padding : 2% 3%;
            width : 50% ;
            .asraCatch{
                display: none ;
            }
        }
    }
}

@mixin _asraMenu_phone {
    .asraMenu{
        background: #fff ;
        display: none ;
        opacity: 0;
        z-index: 500 ;
        position: absolute;
        top : 0 ;
        left :0 ;
        .menuPhoto{
            display: none ;
        }
        .menuArea{
            height: 100%;
            .menuList{
                height: 70%;
                margin-bottom: 10% ;
                display: flex ;
                flex-wrap: wrap ;
                padding: 2.5rem 2rem ;
                h2{
                    width : 100% ;
                    font-size: 2.2rem ;
                    margin : 1.8rem 0 1.2rem;
                }//h3
                h3{
                    width : 100% ;
                    font-size: 1.6rem ;
                    margin : 0.6rem 0;
                    padding-left : 4rem ;
                    font-weight: normal ;
                }//h3
                .company{
                    width : 50% ;
                    &:nth-of-type(2),&:nth-of-type(4){
                        padding-left: 0;
                    }
                }//.company
                a{
                    text-decoration: none ;
                    color: #3c3c3c;
                    transition:0.6s ;
                    &:hover{
                        color : $mainColor;
                    }
                }
                .entry{
                    font-size: 1.8rem;
                    font-weight: bold ;
                    margin-bottom : 3.5rem ;
                    text-decoration: underline ;
                    cursor: pointer;
                    a{
                        display: inline-block;
                        margin-left: 1.2rem ;
                    }
                    img{
                        width : 3.5rem ;
                        vertical-align: middle ;
                    }
                }//.entry
            }//.menuList
            .asraCatch{
                position: relative;
                background:linear-gradient( 135deg, rgba(32, 184, 120, 0.8), rgba(32, 184, 120, 0.8)),url(../img/index/ConBg.jpg) ;
                background-size: cover ;
                padding: 3.5rem 4.5rem 3rem;
                width : 100% ;
                height: 20%;
                img{
                    position: absolute;
                    width : 16rem ;
                    top : -18px ;
                    left : 40px ;
                }
                p{
                    font-size: 1.5rem;
                    line-height: 2.4rem ;
                    color: #fff; 
                }
            }//.asraCatch
        }//.menuArea
    }//.asraMenu
}

@mixin _asraMenu_bar {
    .menuBar{
        display: block ;
        transform: scale(0.7);
        z-index: 1000 ;
        position: absolute;
        right : 1rem ;
        top : 2.5rem ;
        width : 4rem ;
        height : 3.6rem ;
        margin-left : auto ;
        text-align: right ;
        // display: inline-block ;
        .line{
            position: absolute;
            pointer-events: none ;
            top : 0 ;
            left :0 ;
            width : 100% ;
            height: 0.6rem;
            background: #606060 ;
            border-radius: 50%/25px ;
            transition:all 0.4s ease-in-out ;
        }
        .line-a{
            top :0 ;
        }
        .line-b{
            top :1.5rem ;
        }
        .line-c{
            top : 3rem ;
        }
        &.is-active .line-a{
            top:1.5rem ;
            transform: rotate(225deg);
        }
        &.is-active .line-b{
            opacity: 0 ;
        }
        &.is-active .line-c{
            top:1.5rem ;
            transform: rotate(315deg);
        }
    }   
}

@mixin _asraMenu_bar_all {
    .menuBar{
        animation: pageView 0.4s ease-in-out 2.4s forwards;
        opacity: 0;
        display: block ;
        transform: scale(0.7);
        z-index: 1000 ;
        position: absolute;
        right : 5% ;
        top : 3rem ;
        width : 4rem ;
        height : 3.6rem ;
        margin-left : auto ;
        text-align: right ;
        // display: inline-block ;
        .line{
            position: absolute;
            pointer-events: none ;
            top : 0 ;
            left :0 ;
            width : 100% ;
            height: 0.6rem;
            background: #606060 ;
            border-radius: 50%/25px ;
            transition:all 0.4s ease-in-out ;
        }
        .line-a{
            top :0 ;
            box-shadow: 0 0 5px 0 rgba(255,255,255,0.7);
        }
        .line-b{
            top :1.5rem ;
            box-shadow: 0 0 5px 0 rgba(255,255,255,0.7);
        }
        .line-c{
            top : 3rem ;
            box-shadow: 0 0 5px 0 rgba(255,255,255,0.7);
        }
        &.is-active .line-a{
            top:1.5rem ;
            transform: rotate(225deg);
        }
        &.is-active .line-b{
            opacity: 0 ;
        }
        &.is-active .line-c{
            top:1.5rem ;
            transform: rotate(315deg);
        }
    }   
}

@mixin _asraMenu_bar_big {
    .menuBar{
        transform: scale(0.8);
        z-index: 1000 ;
        position: absolute;
        right : 5% ;
        top : 3rem ;
        width : 4rem ;
        height : 3.6rem ;
        margin-left : auto ;
        text-align: right ;
        .line{
            position: absolute;
            pointer-events: none ;
            top : 0 ;
            left :0 ;
            width : 100% ;
            height: 0.6rem;
            background: #606060 ;
            border-radius: 50%/25px ;
            transition:all 0.4s ease-in-out ;
        }
        .line-a{
            top :0 ;
        }
        .line-b{
            top :1.5rem ;
        }
        .line-c{
            top : 3rem ;
        }
        &.is-active .line-a{
            top:1.5rem ;
            transform: rotate(225deg);
        }
        &.is-active .line-b{
            opacity: 0 ;
        }
        &.is-active .line-c{
            top:1.5rem ;
            transform: rotate(315deg);
        }
    }   
}


@mixin _asraMenu_anime{
    @keyframes IndexClose {
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }

    @keyframes MenuOpen {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    .to-none{
        display: none ;
    }
    .to-block{
        display: block ;
    }
}

@mixin _page_ttl{
    padding :3rem 1.5rem 1.5rem;
    p{
        font-size: 1.8rem;
        font-family: "TBゴシック SL",sans-serif;
        margin-bottom: 0.3rem ;
        cursor: pointer;
    }
    h1{
        font-size:1.6rem ;
        margin-left : 2rem ;
        font-weight: normal ; 
    }
}

//エントリーページ
@mixin entryRuleTTL{
    text-align: right ;
    .pageTtl{
        display: inline-block ;
        span{
            font-size: 1.3rem;
            margin : 0 0.4rem;
            color: #bbb ;
            cursor: pointer ;
        }
        .now{
            font-size: 1.6rem;
            padding-bottom: 0.2rem ;
            border-bottom: 3px solid #333 ;
            color: #333 ;
        }
    }
    .pageNum{
        padding-top: 0.2rem ;
        font-size: 1.4rem;
    }
    margin-bottom: 3.5rem ;
}

//エントリー続きボタン
@mixin entryRuleNext{
    margin-top: 1.5rem ;
    width :100% ;
    font-size: 1.6rem;
    padding : 1.2rem 0 ;
    background: $mainColor ;
    color: #fff ;
    border-radius: 2rem ;
}

@mixin inputStyle{
    p{
        //margin : 1rem 0 ;
        b{
            display: inline-block ;
            width: 6rem;
            text-align: right;
            font-size: 1.5rem;
            margin-right: 0.6rem ;
            font-weight: normal ;
        }
        input{
            display: inline ;
            background: $subColor ;
            padding : 0.6rem 1rem ;
            font-size: 1.5rem;
            border-radius: 1rem ;
            margin: 0.6rem 0;
        }
        span{
            font-size: 1.2rem;
            color :#999;
            margin-left: 0.6rem ;
        }
    }
}

@mixin pageLoad{
    .pageLoad{
        width: 100%;
        height: 100vh;
        svg{
            #st0{
                animation:balls 0.4s ease-in-out forwards;
            }
            #st1{
                animation:balls 0.4s ease-in-out 0.1s forwards;
            }
            #st2{
                animation:balls 0.4s ease-in-out 0.2s forwards;
            }
            #st3{
                animation:balls 0.4s ease-in-out 0.3s forwards;
            }
            #st4{
                animation:balls 0.4s ease-in-out 0.4s forwards;
            }
            #st5{
                animation:balls 0.4s ease-in-out 0.5s forwards;
            }
            #st6{
                animation:balls 0.4s ease-in-out 0.6s forwards;
            }
            #st7{
                animation:balls 0.4s ease-in-out 0.7s forwards;
            }
            margin : 40vh 42%;
            width:16%;
            height:16vh;
            animation: pageLoad 2.4s ease-in-out forwards;
        }
    }//.pageload
}